# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild*/
[Bb]in/
UserSettings/

# Cache & logs
*.log
*.tmp

# OS & editor files
.DS_Store
Thumbs.db
.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# Unity packages
*.unitypackage
.vs/the-optometrist/FileContentIndex/25577313-944a-41a5-b3cf-4b488719c872.vsidx
*.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/the-optometrist/v17/.suo
.vs/the-optometrist/v17/.wsuo
.vs/the-optometrist/v17/.suo
.vs/the-optometrist/v17/.suo
.vs/the-optometrist/v17/.suo
.vs/the-optometrist/v17/.suo
.vs/the-optometrist/v17/.suo
